Debug/
Release/
x64/
.vs
CameraTracker/CameraTracker.vcxproj.user
.yml
overblik i rodet.pptx
CameraTracker/BasicDialog.h
CameraTracker/BasicDialog.cpp
CameraTracker/camera_0.yml
CameraTracker/camera_1.yml
CameraTracker/rhcfile.csv
CameraTracker/lhcfile.csv
Thumbs.db
todo.txt
